<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTacToe.Files.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Game.Files.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TicTacToe.Files.Settings>
            <setting name="MusicActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GamesPlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Player1Char" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="Player2Char" serializeAs="String">
                <value>O</value>
            </setting>
            <setting name="Player1Color" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Player2Color" serializeAs="String">
                <value>8</value>
            </setting>
        </TicTacToe.Files.Settings>
        <Game.Files.Settings>
            <setting name="MusicActive" serializeAs="String">
                <value>True</value>
            </setting>
        </Game.Files.Settings>
    </userSettings>
</configuration>